*{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content:space-around;
  align-items: center;
  text-decoration: none;
}
Link{
  text-decoration: none;
}
h1{
  text-align: center;

}
h3{
  text-align: center;
color: rgb(103, 125, 189);
}
.button{
  display: flex;
  justify-content: center;
}

.ActiveOption{
  color: rgb(252, 252, 252);
  font-weight: bold;

}
.NavBar{
  background-color: rgba(12, 45, 134, 0.911);
  margin: 1rem;
  padding: 0.5rem;
  border-style: none;
  text-decoration: none;
}
.cardCar{
  background-color: rgb(226, 228, 231);
  padding: 0.5rem;
  color: rgb(0, 140, 255);
  font-size: 1.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
/* botones */
.Option{ 
  text-decoration: none;
  margin: 1rem;
  font-weight: bold;
  color: rgb(169, 186, 241);
}
.ItemDetailContainer{
  display: flex;
  justify-content: center;
}

.ListGroup{
  display: flex;
  justify-content:center;
}
.CardItemCarrito{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: rgb(165, 165, 245);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}
.CardContenedorCarrito{
  width: 100%;
  display: flex;
  justify-content: center;
}

.OptionDetalle{
  background-color: rgb(40, 226, 133);
  padding: 0.5rem;
  border-radius: 0.7rem;
  color: black;
}
.OptionDetalle:hover{
  background-color: rgb(55, 138, 97);
  padding: 0.5rem;
  border-radius: 0.7rem;
  color: rgb(248, 245, 245);
}